.git
.github
.env
vendor
writable/logs/*
writable/debugbar/*
writable/session/*
writable/cache/*
node_modules
Dockerfile
.dockerignore
render.yaml
*.sql
README.md
LICENSE
phpunit.xml.dist
tests
tests/*
spark
env
